force-app/main/default/flows/Batch_Delete_Files_from_Unsigned_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Add Contract Id value of the current record to the collection variable and Set the Batch Processed Date field to todays date.</description>
        <name>Add_to_Contract_Ids_list_and_Update_Batch_Processed_Date</name>
        <label>Add to Contract Ids list and Update Batch Processed Date</label>
        <locationX>270</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>var_contractIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Gather_Contract_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Gather_Contract_Ids.Batch_Processed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gather_Contract_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Content_Document_Ids_List</name>
        <label>Create Content Document Ids List</label>
        <locationX>138</locationX>
        <locationY>1212</locationY>
        <assignmentItems>
            <assignToReference>var_contentDocumentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Gather_Content_Document_Ids.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gather_Content_Document_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ContentDocumentLinks_Exist</name>
        <label>ContentDocumentLinks Exist?</label>
        <locationX>182</locationX>
        <locationY>972</locationY>
        <defaultConnectorLabel>Default Outcome - No - Records Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_ContentDocumentLink_s_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ContentDocumentLink_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gather_Content_Document_Ids</targetReference>
            </connector>
            <label>Yes - ContentDocumentLink(s) Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Contracts_Exist</name>
        <label>Matching Contracts Exist?</label>
        <locationX>380</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome - No - Records Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Matching_Contracts_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gather_Contract_Ids</targetReference>
            </connector>
            <label>Yes - Matching Contracts Exists</label>
        </rules>
    </decisions>
    <description>Batch job used to delete older files (one year after the end date) from unsigned contracts</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculate the date which is 365 days back from today.</description>
        <name>var_for_date365DaysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-365</expression>
    </formulas>
    <formulas>
        <name>var_for_TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Batch: Delete Files from Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Batch: Delete Files from Unsigned Contracts</label>
    <loops>
        <name>Gather_Content_Document_Ids</name>
        <label>Gather Content Document Ids</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <collectionReference>Get_ContentDocumentLink_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Content_Document_Ids_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Content_Document_Record_s</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Gather_Contract_Ids</name>
        <label>Gather Contract Ids</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Contract_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Contract_Ids_list_and_Update_Batch_Processed_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ContentDocumentLink_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Content_Document_Record_s</name>
        <label>Delete Content Document Record(s)</label>
        <locationX>50</locationX>
        <locationY>1428</locationY>
        <connector>
            <targetReference>Update_Contracts_with_the_Batch_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>var_contentDocumentIds</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_ContentDocumentLink_Records</name>
        <label>Get ContentDocumentLink Records</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContentDocumentLinks_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>var_contractIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Record</name>
        <label>Get Contract Record</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matching_Contracts_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Close_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>var_for_date365DaysAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>CustomerSignedDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Batch_Processed_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Write the batch run date in the &quot;Batch Processed Date&quot; field of the Contract.</description>
        <name>Update_Contracts_with_the_Batch_Date</name>
        <label>Update Contracts with the Batch Date</label>
        <locationX>50</locationX>
        <locationY>1548</locationY>
        <inputReference>Get_Contract_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_Record</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-11</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_contentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_contractIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
