force-app/main/default/flows/Opportunity_Updates_on_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>If segment code name is entered (not null) then the other segment fields may need to be populated.</description>
        <name>Segment_Code_Name_Populated</name>
        <label>Segment Code Name Populated?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No - Segment code name not populated</defaultConnectorLabel>
        <rules>
            <name>Yes_Segment_code_name_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segment_Code_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Segment_Fields</targetReference>
            </connector>
            <label>Yes - Segment code name populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Updates on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Updates on Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Segment_Code_Name_Populated</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Call sub flow that populates the Segment fields based on the Segment Code Name entered.</description>
        <name>Populate_Segment_Fields</name>
        <label>Populate Segment Fields</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <flowName>Process_Update_Segment_Related_Fields</flowName>
        <inputAssignments>
            <name>var_in_segmentValues</name>
            <value>
                <elementReference>$Record.Segment_Code_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_recordIdToUpdate</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
