force-app/main/default/flows/Opportunity_Hotel_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post_to_Oppty_Primary_Hotel</name>
        <label>Chatter Post to Oppty - Primary Hotel</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Oppty_Amount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>var_for_chatterPostMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Hotel_Status_Changed</name>
        <label>Hotel Status Changed?</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hotel_Status_DEF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DEF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Other_Opportunity_Hotel_Records_to_LOS</targetReference>
            </connector>
            <label>Hotel Status = DEF?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_new_record</name>
        <label>Is new record?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>What_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome - Not a New Record</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_for_IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Hotel_Record</targetReference>
            </connector>
            <label>Yes - New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Changed</name>
        <label>What Changed?</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Hotel_Status_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Hotel_Created_or_Changed</name>
            <conditionLogic>(1 AND 2)  OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Hotel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Hotel__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_for_IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Other_Opportunity_Hotel_Records</targetReference>
            </connector>
            <label>Primary Hotel Created or Changed</label>
        </rules>
        <rules>
            <name>Sub_Amount_Changed_on_Primary_Hotel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Hotel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Oppty_Amount</targetReference>
            </connector>
            <label>Sub Amount Changed on Primary Hotel</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>var_for_chatterPostMessage</name>
        <dataType>String</dataType>
        <expression>&apos;Primary Hotel for this opportunity is &apos; + {!$Record.Hotel__r.Name}</expression>
    </formulas>
    <formulas>
        <name>var_for_IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity Hotel Create Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Hotel Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity_Hotel_Record</name>
        <label>Update Opportunity Hotel Record</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>What_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Date__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oppty_Amount</name>
        <label>Update Oppty Amount</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Hotel_Status_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Sub_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Other_Opportunity_Hotel_Records</name>
        <label>Update Primary on Other Opportunity Hotel Records</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Chatter_Post_to_Oppty_Primary_Hotel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Hotel__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Hotel__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Other_Opportunity_Hotel_Records_to_LOS</name>
        <label>Update Other Opportunity Hotel Records to LOS</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lost_Reason_Info__c</field>
            <value>
                <stringValue>LOS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_Reason__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>LOS</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Hotel__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_new_record</targetReference>
        </connector>
        <object>Opportunity_Hotel__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_subAmountValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
