force-app/main/default/flows/Opportunity_Updates_on_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Account_on_Stage_Change</name>
        <label>Update Account on Stage Change</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>MsgOpptyStageUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>If channel code name is updated  then the other channel fields may need to be updated.</description>
        <name>Channel_Code_Name_Updated</name>
        <label>Channel Code Name Updated?</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Is_the_Opportunity_Stage_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome - No - Segment code name not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Channel_code_name_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Channel_Code_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Channel_Fields</targetReference>
            </connector>
            <label>Yes - Channel code name updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Opportunity_Stage_Changed</name>
        <label>Is the Opportunity Stage Changed?</label>
        <locationX>578</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome - No - Opportunity Stage NOT Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_Stage_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_on_Stage_Change</targetReference>
            </connector>
            <label>Yes - Opportunity Stage Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_Code_Name_Updated</name>
        <label>Segment Code Name Updated?</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Channel_Code_Name_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome - No - Segment Code Name Not Updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Segment_Code_Name_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segment_Code_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Segment_Fields</targetReference>
            </connector>
            <label>Yes - Segment Code Name Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage</name>
        <label>Stage?</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oppty_Hotel_Records_to_LOS</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
        <rules>
            <name>Closed_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oppty_Hotel_Records_to_UNC</targetReference>
            </connector>
            <label>Closed Denied</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MsgOpptyStageUpdate</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos; stage changed from &apos; + TEXT({!$Record__Prior.StageName}) + &apos; to &apos; +  TEXT({!$Record.StageName})</expression>
    </formulas>
    <interviewLabel>Opportunity Updates on Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Updates on Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Oppty_Hotel_Records_to_LOS</name>
        <label>Update Oppty Hotel Records to LOS</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lost_Reason_Info__c</field>
            <value>
                <stringValue>LOS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_Reason__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>LOS</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Hotel__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oppty_Hotel_Records_to_UNC</name>
        <label>Update Oppty Hotel Records to UNC</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lost_Reason_Info__c</field>
            <value>
                <stringValue>UNC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_Reason__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>UNC</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Hotel__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Segment_Code_Name_Updated</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Segment_Code_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Channel_Code_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Call sub flow that populates the Channel fields based on the Channel Code Name entered.</description>
        <name>Update_Channel_Fields</name>
        <label>Update Channel Fields</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Is_the_Opportunity_Stage_Changed</targetReference>
        </connector>
        <flowName>Process_Update_Channel_Related_Fields</flowName>
        <inputAssignments>
            <name>var_in_channelValues</name>
            <value>
                <elementReference>$Record.Channel_Code_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_in_recordIdToUpdate</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Call sub flow that populates the Segment fields based on the Segment Code Name entered.</description>
        <name>Update_Segment_Fields</name>
        <label>Update Segment Fields</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Channel_Code_Name_Updated</targetReference>
        </connector>
        <flowName>Process_Update_Segment_Related_Fields</flowName>
        <inputAssignments>
            <name>var_in_segmentValues</name>
            <value>
                <elementReference>$Record.Segment_Code_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_recordIdToUpdate</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
