force-app/main/default/flows/Process_Update_Segment_Related_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Add current segment record field values to the variable that collects the values</description>
        <name>Add_Segment_field_values_to_variable</name>
        <label>Add Segment field values to variable</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>var_segmentCodeValues</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Loop_Calculate_Segment_Field_Values.Segment_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_segmentGroup</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Loop_Calculate_Segment_Field_Values.Segment_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_segmentGlobalIndicator</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Loop_Calculate_Segment_Field_Values.Segment_Global_Indicator__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Calculate_Segment_Field_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Object_to_update</name>
        <label>Which Object to update?</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_for_idKeyPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Record</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_for_idKeyPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Record</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula to take the first 3 characters of the id value</description>
        <name>var_for_idKeyPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!var_recordIdToUpdate}, 3)</expression>
    </formulas>
    <interviewLabel>Process: Update Segment Related Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process: Update Segment Related Fields</label>
    <loops>
        <description>Loop to iterate through segment records to make a list of Segment code, Segment group and segment indicator values to update to the calling record.</description>
        <name>Loop_Calculate_Segment_Field_Values</name>
        <label>Loop - Calculate Segment Field Values</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Segment_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Segment_field_values_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Which_Object_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Based on the Segment Code Name value(s) fetch the matching records from the Custom Metadata Type Segment_Code_Name__c</description>
        <name>Get_Segment_Records</name>
        <label>Get Segment Records</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Calculate_Segment_Field_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Segment_Code_Name__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Segment_Value_s_Format_Conversion.var_out_commaSeparatedValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Segment_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Populate the segment field values in the Account</description>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_recordIdToUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Segment_Code__c</field>
            <value>
                <elementReference>var_segmentCodeValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment_Global_Indicator__c</field>
            <value>
                <elementReference>var_segmentGlobalIndicator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment_Group__c</field>
            <value>
                <elementReference>var_segmentGroup</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Populate the segment field values in the Opportunity</description>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_recordIdToUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Segment_Code__c</field>
            <value>
                <elementReference>var_segmentCodeValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment_Group_Indicator__c</field>
            <value>
                <elementReference>var_segmentGlobalIndicator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment_Group__c</field>
            <value>
                <elementReference>var_segmentGroup</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Segment_Value_s_Format_Conversion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Convert Segment Values from Semicolon separated to Comma Separated</description>
        <name>Segment_Value_s_Format_Conversion</name>
        <label>Segment Value(s) Format Conversion</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Get_Segment_Records</targetReference>
        </connector>
        <flowName>Process_Value_Conversion_Semicolon_separated_to_Comma_Separated_Collection</flowName>
        <inputAssignments>
            <name>var_in_semiColumnSeparatedValues</name>
            <value>
                <elementReference>var_in_segmentValues</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>var_in_segmentValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the id value of the record where segment fields need to be populated</description>
        <name>var_recordIdToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_segmentCodeValues</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_segmentGlobalIndicator</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_segmentGroup</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
